/* 下拉条的样式 */
.suggestions-list {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  list-style-type: none;
  padding: 0;
}

/* 下拉条中每个选项的样式 */
.suggestions-list li {
  padding: 5px;
  cursor: pointer;
}

/* 鼠标悬停在选项上时的样式 */
.suggestions-list li:hover {
  background-color: #e9e9e9;
}
